go 1.21.1

use (
	./04time
	./05pointers
	./06arrays
	./07slices
	./08maps
	./09structs
	./10ifelse
	./11functions
	./12defer
	./13files
	./14webrequest
	./15apirequest
	./conversion
	./hello
	./user_input
)
